/* body{
  background-image: url("./assets/bg-landingpage.jpg");
} */

.content{
    margin: 10px 50px;
    width: 300px;
  }
  
  
  .button {
    background-color: #40A8C4;
    border: none;
    color: white;
    padding: 10px 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 25px;
  }
  
  
  .bg{
    background-image: url("./assets/bg-landingpage.jpg");
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  
  .head{
    background-color: #40A8C4;
    border: none;
    color: white;
    padding: 5px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 25px;
  }